/* Reset CSS */

/* Define variables CSS personalizadas */
:root {
  --main-font: sans-serif; /* Fuente principal para el sitio web */
  --font-size: 16px; /* Tamaño de fuente base */
  --main-color: #f7df1e; /* Color principal utilizado */
  --second-color: #222; /* Color secundario utilizado */
  --main-modal-color: rgba(
    247,
    222,
    30,
    0.85
  ); /* Color principal para el modal con transparencia */
  --second-modal-color: rgba(
    34,
    34,
    34,
    0.85
  ); /* Color secundario para el modal con transparencia */
  --container-width: 1200px; /* Ancho máximo del contenedor de contenido */
}

/* Estilos básicos para los elementos HTML */
html {
  box-sizing: border-box; /* Incluir relleno y borde en el ancho y alto total del elemento */
  font-family: var(--main-font); /* Establecer la familia de fuentes */
  font-size: var(--font-size); /* Establecer el tamaño de fuente */
  scroll-behavior: smooth; /* Comportamiento de desplazamiento suave */
}

/* Heredar el modelo de caja de los elementos hijos */
*,
*:after,
*:before {
  box-sizing: inherit;
}

/* Estilos para el cuerpo del sitio */
body {
  margin: 0; /* Eliminar márgenes predeterminados */
  overflow-x: hidden; /* Ocultar la barra de desplazamiento horizontal */
}

/* Estilos para las imágenes */
img {
  max-width: 100%; /* Hacer que las imágenes sean responsivas */
  height: auto;
}

/* Estilos para el encabezado */
.header {
  position: sticky; /* Hacer que el encabezado se pegue en la parte superior */
  top: 0; /* Fijar en la parte superior */
  padding: 1rem; /* Agregar relleno */
  background-color: var(--main-color); /* Color de fondo */
  color: var(--second-color); /* Color de texto */
}

/* Estilos para el encabezado h1 */
.header h1 {
  margin: 0 auto; /* Centrar horizontalmente */
  text-align: center; /* Alinear al centro */
}

/* Estilos para las secciones */
.section {
  padding: 2rem; /* Agregar relleno */
  padding-top: 4rem; /* Agregar relleno superior */
  margin-left: auto; /* Centrar horizontalmente */
  margin-right: auto; /* Centrar horizontalmente */
  width: 100%; /* Ancho completo */
  max-width: var(--container-width); /* Ancho máximo */
  min-height: 100vh; /* Altura mínima de la pantalla */
  text-align: center; /* Alinear al centro */
}

/* Estilos para el panel */
.panel {
  position: fixed; /* Fijar posición */
  z-index: 998; /* Índice z para superposición */
  width: 100%; /* Ancho completo */
  top: 0; /* Fijar en la parte superior */
  bottom: 0; /* Fijar en la parte inferior */
  left: 0; /* Fijar en la parte izquierda */
  right: 0; /* Fijar en la parte derecha */
  background-color: var(--second-modal-color); /* Color de fondo */
  transition: transform 0.3s ease; /* Transición de animación */
  transform: translate(0, -100%); /* Desplazar fuera de la pantalla */
}

/* Estilos para el panel activo */
.panel.is-active {
  transform: translate(0, 0); /* Desplazar hacia la pantalla */
}

/* Estilos para el botón del panel */
.panel-btn {
  position: fixed; /* Fijar posición */
  z-index: 999; /* Índice z para superposición */
  bottom: 1vh; /* Fijar en la parte inferior */
  right: 1vw; /* Fijar en la parte derecha */
  width: 4rem; /* Ancho */
  height: 4rem; /* Altura */
  border-radius: 50%; /* Borde redondeado */
  padding: 0; /* Sin relleno */
  display: flex; /* Mostrar como flexbox */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  background-color: var(--main-color) !important; /* Color de fondo */
}

/* Estilos para el menú */
.menu {
  width: inherit; /* Heredar ancho */
  display: flex; /* Mostrar como flexbox */
  flex-direction: column; /* Apilar elementos verticalmente */
  justify-content: space-evenly; /* Distribuir uniformemente los elementos */
  align-items: center; /* Centrar horizontalmente */
  text-align: center; /* Alinear al centro */
}

/* Estilos para los enlaces del menú */
.menu a {
  padding: 2rem; /* Agregar relleno */
  width: inherit; /* Heredar ancho */
  display: block; /* Mostrar como bloque */
  font-size: 1.5rem; /* Tamaño de fuente */
  text-decoration: none; /* Sin subrayado */
  color: var(--main-color); /* Color de texto */
  transition: all 0.3s ease; /* Transición de animación */
}

/* Estilos para los enlaces del menú al pasar el cursor */
.menu a:hover {
  font-weight: bold; /* Texto en negrita */
  color: var(--second-color); /* Color de texto */
  background-color: var(--main-modal-color); /* Color de fondo */
}

/* Botón Scroll */

.scroll-top-btn {
  position: fixed; /* Fijar posición */
  z-index: 999; /* Índice z para superposición */
  bottom: 1vh; /* Fijar en la parte inferior */
  right: calc(4.25rem + 1vw); /* Fijar en la parte derecha */
  width: 4rem; /* Ancho */
  height: 4rem; /* Altura */
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease;
}
.scroll-top-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.dark-theme-btn {
  position: fixed; /* Fijar posición */
  z-index: 999; /* Índice z para superposición */
  bottom: 1vh; /* Fijar en la parte inferior */
  left: 1vw; /* Fijar en la parte derecha */
  width: 4rem; /* Ancho */
  height: 4rem; /* Altura */
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease;
}

.dark-theme-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}
.dark-mode {
  background-color: var(--second-color);
  color: var(--main-color);
}

/* Formulario */
.contact-form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 50%;
}
.contact-form textarea {
  resize: none;
}

.contact-form legend,
.contact-form-response {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  font-size: 1rem;
  font-family: sans-serif;
}

.contact-form input[type="Submit"] {
  width: auto;
  font-weight: bold;
  cursor: pointer;
}
.contact-form ::placeholder {
  color: #000;
}

.contact-form [required]:valid {
  border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid {
  border: thin solid var(--form-error-color);
}
.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all 800ms ease;
}
.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}
.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
